
.container{
    display: flex;
    justify-content: center;
    
}
.big-container{
    width: 600px;
    height: 400px;
    padding: 11px;
    margin-top: 100px;
    font-size: 11px;
    font-family: sans-serif;
    border: 2px solid;
    border-radius: 8px;
}