
.Menucontainer{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #f4f3ee;
    padding: 10px;
    width: 100%;
    align-items: center;
}
.Menucontainer div {
    font-size: 16px;
}
.left {

}