

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.btn {
    font-family: "Playwrite CU Guides", cursive;
    font-size: 16px;
    font-weight: 500;

    padding: 12px 20px;
    text-align: center;
    color: white;
    background-color : #ee4266;
    cursor: pointer;

    border: none;
    border-radius: 8px;

    transition-property: background-color 0.2s ease;                                  /* making Hover Transition smoothly (Not Immeditately) */
}